@import "compass/css3";
@import "compass/utilities";
/*
	Example Styling for Useful Functions
*/
.useful-tests {
	dt {
		font-weight : bold;
		display : block;
		margin : 0;
		padding : 0;
	}
	dd {
		display : block;
		margin : 0 0 1.3em 0;
		padding : 0;
	}
}
#interactions-test {
	border : solid 1px #333;
	height : 64px;
	margin-bottom : 1em;
	padding : 1em;
	width : auto;
}
